@import "./Color.scss";
.dashboard-container {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  margin-top: 101px;

  margin-left: 111px;

  max-width: calc(100vw - 111px);
  min-height: calc(100vh - 101px);
  padding: 40px 50px;
  .dashboard-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1s;
    width: 250px;
    height: 175px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    opacity: 1;
    transition: 1s;
    @keyframes spinner {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    .dashboard-loader-animation {
      .dashboard-loader-spinner {
        animation: spinner 2s linear infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
        width: 100px;
        height: auto;
        g {
          rect:nth-child(2),
          rect:nth-child(3) {
            fill: $FirstColor !important;
          }
        }
      }
    }
    .dashboard-loader-message {
      font-weight: 600;
      font-size: 1.2em;
      font-style: italic;
    }
  }

  .dashboard-header {
    margin-bottom: 50px;
    .welcome-title {
      font-size: 48px;
      margin: 0;
      .username-title {
        color: $FirstColor;
      }
    }
    .yesterday-feat {
      font-weight: 500;
      font-size: 18px;
    }
  }
  .dashboard-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: auto;
    .dashboard-section-chart {
      display: inline-flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      max-width: 940px;
      margin-bottom: 30px;
      margin-right: 25px;
      .dashboard-activity {
        min-width: 700px;
        max-width: 900px;
        display: inline-block;
        padding: 24px 30px;
        background-color: #fbfbfb;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
        border-radius: 5px;
        margin-bottom: 30px;
        .dashboard-activity-header {
          font-weight: 500;
          display: grid;
          grid-template-columns: 2fr 1fr;
          .unit-of-measurement {
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            width: 300px;
            li {
              color: #74798c;
              vertical-align: middle;
              &::before {
                content: "•";
                color: black;
                padding-right: 15px;
                font-size: 30px;
                vertical-align: -5px;
                line-height: 20px;
              }
            }
            .dashboard-activity-calories {
              &::before {
                color: $FirstColor;
              }
            }
          }
        }
        .dashboard-activity-section {
          width: 100%;
          height: 200px;
          margin-top: 40px;
          color: #9b9eac;
          font-size: 14px;
          .custom-tooltip {
            background-color: #e60000;
            color: white;
            padding: 5px;
            text-align: center;
            font-size: 11px;
          }
        }
      }
      .dashboard-items-charts-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .dashboard-line-chart {
          position: relative;
          width: 30%;
          min-width: 250px;
          height: 280px;
          background-color: red;
          border-radius: 5px;
          color: rgba($color: white, $alpha: 0.5);
          .dashboard-activity-second-background {
            position: absolute;
            right: 0;
            width: 30%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.1);
          }
          .dashboard-line-chart-header {
            width: auto;
            height: auto;
            margin: 30px 35px;
            margin-right: 75px;
            margin-bottom: 10px;

            h3 {
              font-size: 17px;
              font-weight: 500;
            }
          }
          .dashboard-line-chart-section {
            width: 100%;
            height: 180px;
            padding: 5px 20px;
            .custom-tooltip {
              background-color: white;
              color: black;
              font-weight: 500;
              padding: 5px;
              text-align: center;
              font-size: 11px;
              p {
                margin: 5px;
              }
            }
          }
        }
        .dashboard-radar {
          width: 30%;
          min-width: 250px;
          height: 280px;
          padding: 5px;
          background-color: #282d30;
          font-weight: 500;
          border-radius: 5px;
          font-size: 12px;
        }
        .dashboard-pie-chart {
          width: 30%;
          min-width: 250px;
          height: 280px;
          padding: 5px;
          border-radius: 5px;
          background-color: #fbfbfb;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          .dashboard-pie-chart-header {
            height: fit-content;
            align-self: flex-start;
            margin: 25px 0 0 30px;
            h3 {
              font-size: 19px;
              font-weight: 700;
              margin: 0;
            }
          }
          .dashboard-pie-chart-section {
            position: relative;
            width: 200px;
            height: 200px;
            margin-bottom: 20px;
            .dashboard-pie-chart-circle {
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              width: 176px;
              border-radius: 100%;
              height: 176px;
              background-color: white;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              text-align: center;
              h4 {
                margin: 0;
                color: #282d30;
                font-size: 25px;
              }
              p {
                width: auto;
                color: #74798c;
                margin: 0;
                padding: 0 30px;
                font-size: 17px;
              }
            }
          }
        }
      }
    }
    //Dashboard-nutrition-components-section
    .dashboard-nutritions-section {
      display: grid;
      grid-template-columns: repeat(auto-fit, 250px);
      align-content: space-between;
      margin-bottom: 30px;
      .nutrition-item {
        width: 250px;
        height: 120px;
        background-color: #fbfbfb;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .nutrition-icon {
          height: 60px;
          width: 60px;
          margin: auto;
          margin-left: 32px;
          margin-right: 0;
          border-radius: 6px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .nutrition-icon {
          background-color: #ff000020;
        }
        .nutrition-icon-protein {
          background-color: #4ab8ff20;
        }
        .nutrition-icon-carbohydrate {
          background: #f9ce2320;
        }
        .nutrition-icon-lipid {
          background-color: #fd518120;
        }
        .nutrition-text {
          margin-left: 24px;
          p {
            margin: 0;
          }
          .nutrition-value {
            font-weight: 700;
            font-size: 20px;
            color: #282d30;
          }
          .nutrition-unit {
            color: #74798c;
            font-size: 15px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .dashboard-container {
    .dashboard-section {
      flex-wrap: wrap;
      justify-content: center;
      .dashboard-section-chart {
        .dashboard-activity {
          align-self: center;
        }
      }
      .dashboard-nutritions-section {
        display: grid;
        width: 100%;
        gap: 20px;
        row-gap: 30px;
        margin-right: 25px;
        justify-content: space-between;
      }
    }
  }
}
