.home-container {
  display: inline-flex;
  position: absolute;
  top: 101px;
  left: 111px;
  min-width: calc(100vw - 111px);
  min-height: calc(100vh - 101px);
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column; }
  .home-container .user-redirection-container {
    display: flex;
    background-color: #fafafa;
    box-shadow: 0px 0px 5px 0.1px;
    padding: 20px;
    width: 400px;
    text-align: center;
    border-radius: 10px;
    flex-direction: column; }
    .home-container .user-redirection-container .user-redirection-button {
      align-self: center;
      width: fit-content; }
